<p id="notice"><%= notice %></p>

<h1>Welcome to the <%= @clinic.name %> clinic</h1>
<h2>Patients:</h2>

<table class="table">
<% @clinic.patients.each do |patient| %>
  
  <tr>
    <td><strong><%= patient.name %></strong></td>
  	<% if can? :update, @patient %>
  	  <td><%= button_to 'View Chart', patient,
              class: "btn btn-default", method: :get  %></td>
  	  <td><%= button_to "Edit", 
  	          edit_clinic_patient_url(@clinic, patient),
              class: "btn btn-default", method: :get   %></td>  
      <td><%= button_to "Delete", 
              patient_url(patient), method: :delete,
              class: "btn btn-default"  %></td>
    <% else %>
      <% if patient.viewable? %>
        <td><%= button_to 'View Chart', patient,
                class: "btn btn-default", method: :get    %></td>
      <% else %>
        <td>Patient data viewable on: <%= patient.viewable_time %><td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>

<% if can? :update, @patient %>
  <hr>
  <%= link_to 'Add Patients to this Clinic', new_clinic_patient_url(@clinic) %>
   | <%= link_to 'Edit this clinic', edit_clinic_url(@clinic) %> |
<% end %>
<%= link_to 'See all clinics', clinics_url %>
