<% form_method = @question.persisted? ? "PATCH" : "POST" %>
<% if @question.persisted? %>
  <% form_method, submit_text = "PATCH", "Save changes"  %> 
  <% form_action = question_url(@question) %>
<% else %>
  <% form_method, submit_text  = "POST", "Create question" %> 
  <% form_action = questions_url %>
<% end %>

<form action="<%= form_action %>" method="POST" class="form-group">
  <input type="hidden" name="_method" value="<%= form_method %>">
  
  <input type="hidden" name="authenticity_token"
       value="<%= form_authenticity_token %>"> 

  <input type="hidden" name="question[quiz_id]"
       value="<%= @quiz.id %>"> 
  
  <label>Question: 
  <input type="text" name="question[body]" 
         class="form-control" value="<%= @question.body %>">
  </label><br>

  <label>Type:</label><br>
  <input type="radio" name="question[question_type]" 
         id="radio_choice" value="radio">
  <label for="radio_choice">Multiple Choice (one correct answer)</label><br>  

  <input type="radio" name="question[question_type]" 
         id="checkbox_choice" value="checkbox">
  <label for="checkbox_choice">Checkbox (more than one correct answer)</label>
  <br>  

  <input type="radio" name="question[question_type]" 
         id="radio_choice" value="radio">
  <label for="radio_choice">Short answer</label><br>  
  
  <input type="submit" value="<%= submit_text %>" class="btn btn-default">
</form>

<%= button_to "Create answers to this question",  
              new_question_answer_url(@question), 
              class: "btn btn-default", method: :get %>



