<% form_method = @question.persisted? ? "PATCH" : "POST" %>
<% form_action = @question.persisted? ? edit_quiz_question_url(@question) :  
                 questions_url %>
<% submit_text = @question.persisted? ? "Save changes" : "Create question" %>

<form action="<%= form_action %>" method="POST" class="form-group">
  <input type="hidden" name="_method" value="<%= form_method %>">
  
  <input type="hidden" name="authenticity_token"
       value="<%= form_authenticity_token %>"> 

  <input type="hidden" name="question[quiz_id]"
       value="<%= @quiz.id %>"> 
  
  <label>Question: 
  <input type="text" name="question[body]" 
         class="form-control" value="<%= @question.body %>">
  </label><br>

  <label>Type:</label><br>
  <input type="radio" name="question[question_type]" 
         id="radio_choice" value="radio">
  <label for="radio_choice">Multiple Choice (one correct answer)</label><br>  

  <input type="radio" name="question[question_type]" 
         id="checkbox_choice" value="checkbox">
  <label for="checkbox_choice">Checkbox (more than one correct answer)</label>
  <br>  

  <input type="radio" name="question[question_type]" 
         id="radio_choice" value="radio">
  <label for="radio_choice">Short answer</label><br>  
  
      
  

  <input type="submit" value="<%= submit_text %>" class="btn btn-default">

</form>



