<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @question.body %>
</p>

<p>
  <strong>Type:</strong>
  <%= @question.question_type %>
</p>

<%= link_to 'Edit', edit_quiz_question_url(@question.quiz, @question) %> |
<%= link_to 'Back', questions_url %>
