<% if !@patient.items.empty? %>
  <p><strong>Patient Data:</strong></p>
  <table class="table">
    <tr>
      <th>Data Type</th>
      <th>Value</th>
      <th>Comment</th>
    </tr>
    <% @patient.items.each do |data_item| %>
      <tr>
        <td><%= data_item.name %></td>
        <td><%= data_item.value %></td>
        <td><%= data_item.comment %></td>
        <% if can? :update, @patient_item %>
          <td><%= button_to "Edit", 
                  edit_patient_item_url(@patient, data_item),
                  method: :get, class: "btn btn-default" %></td>
          <td><%= button_to "Delete", 
                item_url(data_item), method: :delete,
                class: "btn btn-default" %></td>
        <% end %>
      </tr>  
    <% end %>
  </table>
<% end %>

<% if can? :update, @patient %>
  <%= button_to "Add a data item to this patient", 
              new_patient_item_url(@patient),
              method: :get, class: "btn btn-default" %>
<% end %>