<% if (answerResult.escape("correct") === "true") { %>
  <% var answerResultClass = "correct"; %>
  <% var answerStatement = "Correct. "; %>
<% } else { %>
  <% var answerResultClass = "incorrect"; %>
  <% var answerStatement = "Incorrect. "; %>
<% } %>

<% if (answerResult.escape("selected") === "true") { %>
  <% var selected = "checked"; %>
<% } else { %> 
  <% var selected = ""; %>
<% } %>



 <label>
 <input type="<%=answerResult.escape("question_type")%>" 
        <%= selected %> disabled>
 </label>  <%= answerResult.escape("body") %>
 <div class=<%= answerResultClass %>> 
   <%= answerStatement + answerResult.escape("note") %>
 <div>

