<!DOCTYPE html>
<html>
<head>
  <title>Rehearsable</title>
  <%= stylesheet_link_tag     "application", media: "all" %>
  <%= javascript_include_tag  "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= nav_bar responsive: true do %>
      <% if user_signed_in? %>
      
        <% role = current_user.instructor ? "Instructor" : "Student" %>
        <% logged_in_text = "Logged in as " + current_user.email %>
        <% role_text = "Role: " + role %>

        <%= menu_group pull: :left do %>
          <%= menu_text logged_in_text %>
          <%= menu_text role_text %>
        <% end %>

        <%= menu_group pull: :right do %>
          <%= menu_item "Edit profile", edit_user_registration_url %>
          <%= menu_item "Log out", destroy_user_session_url, method: :delete %>
        <% end %>
      <% else %>

          <%= menu_group pull: :right do %>
            <%= menu_item 'Sign up', new_user_registration_url %>
            <%= menu_item 'Log In', new_user_session_url %>
          <% end %>
      <% end %>
  <% end %>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
